@model IEnumerable<AR100621_Laboratorio3.Models.Autores>

@{
    ViewData["Title"] = "Autores";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdAutor">Editar</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.IdAutor">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdAutor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>