@model AR100621_Laboratorio3.Models.Libro

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro/a de eliminar este registro?</h3>
<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoLibro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            ISBN
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            Año de edición
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioEdicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            Id del autor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OAutores.IdAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoLibro" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atrás</a>
    </form>
</div>
